<ion-header>
    <ion-toolbar class="toolbar">
        <img slot="start" style="margin-left:10px; width: 33px; height: 33px;"
            src="assets/icon/skibididup.png">
        <ion-title>
            PechinchaTech
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" color="dark" routerLink="/main"
                [disabled]="router.url === '/main'">
                Pesquisar Produto
            </ion-button>
            <ion-button fill="clear" color="dark" routerLink="/benchmark"
                [disabled]="router.url === '/benchmark'">
                Benchmark
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="!verificaUserAutenticado()" slot="end">
            <ion-button fill="outline" routerLink="/login">
                <ion-icon slot="end" name="log-in-outline"></ion-icon>
                Login
            </ion-button>
            <ion-button fill="outline" routerLink="/cadastro">
                <ion-icon slot="end" name="person-add-outline"></ion-icon>
                Cadastro
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="verificaUserAutenticado()" slot="end">
            <ion-button slot="end" size="large" fill="clear">
                <ion-icon slot="icon-only" color="dark"
                    name="notifications-outline"></ion-icon>
            </ion-button>

            <ion-button slot="end" size="large" fill="clear">
                <ion-icon slot="icon-only" color="dark"
                    name="person-circle-outline"></ion-icon>
            </ion-button>
            <!-- Botão provisório para logoff -->
            <ion-button slot="end" size="large" fill="clear"
                (click)="encerrarSessao()">
                <ion-icon slot="icon-only" color="dark"
                    name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="searchbar-container">
        <ion-searchbar (ionInput)="pesquisarProduto($event)" class="content custom"
            show-clear-button="focus"
            placeholder="Pesquisar por produto...">
            <ion-button id="click-trigger" shape="round" size="large" class="content"
                size="medium" slot="start">
                <ion-icon slot="start" name="reorder-three-outline"></ion-icon>
                {{tipoSimulado}}
            </ion-button>
            <ion-popover trigger="click-trigger" triggerAction="click">
                <ng-template>
                    <ion-button (click)="mudarListagem('TODOS')" expand="full"
                        class="popover-content">Todos os
                        Tipos</ion-button>
                    <ion-button (click)="mudarListagem('CPU')" expand="full"
                        class="popover-content">CPU /
                        Processador</ion-button>
                    <ion-button (click)="mudarListagem('GPU')" expand="full"
                        class="popover-content">GPU / Placa de
                        Vídeo</ion-button>
                    <ion-button (click)="mudarListagem('SSD')" expand="full"
                        class="popover-content">SSD</ion-button>
                    <ion-button (click)="mudarListagem('HDD')" expand="full"
                        class="popover-content">HDD / Disco
                        Rígido</ion-button>
                </ng-template>
            </ion-popover>
        </ion-searchbar>
    </div>

    <div *ngIf="maxPage > 1" class="searchbar-container">
        <ion-button class="toolbar" [disabled]="currentPage == 1"
            (click)="mudarPagina(currentPage - 1)">
            <ion-icon fill="icon-only" color="dark"
                name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="currentPage > 2" class="toolbar"
            (click)="mudarPagina(1)">1</ion-button>
        <ion-button *ngIf="currentPage > 3" class="reticencias" fill="clear">
            <ion-icon fill="icon-only" color="dark"
                name="ellipsis-horizontal"></ion-icon>
        </ion-button>
        <ion-button *ngIf="currentPage - 1 >= 1" class="toolbar"
            (click)="mudarPagina(currentPage-1)">{{currentPage-1}}</ion-button>
        <ion-button class="toolbar"
            [disabled]="true">{{currentPage}}</ion-button>
        <ion-button *ngIf=" maxPage >= currentPage + 1" class="toolbar"
            (click)="mudarPagina(currentPage+1)">{{currentPage+1}}</ion-button>
        <ion-button *ngIf="maxPage - 3 >= currentPage" class="reticencias"
            fill="clear">
            <ion-icon fill="icon-only" color="dark"
                name="ellipsis-horizontal"></ion-icon>
        </ion-button>
        <ion-button *ngIf="maxPage - 2 >= currentPage" class="toolbar"
            (click)="mudarPagina(maxPage)">{{maxPage}}</ion-button>
        <ion-button class="toolbar" (click)="mudarPagina(currentPage + 1)"
            [disabled]="currentPage == maxPage">
            <ion-icon fill="icon-only" color="dark"
                name="arrow-forward-outline"></ion-icon>
        </ion-button>
    </div>

    <ion-list class="container-produtos">
        <ion-row class="row-produtos">
            <ion-col size="2" *ngFor="let produto of produtosPaginados">
                <div class="produto-card" routerLink="/produto/{{produto.id}}">
                    <img class="produto-img" src="{{produto.link_imagem}}"
                        alt="{{produto.nome}}">
                    <ion-card-title
                        class="produto-nome">{{produto.nome}}</ion-card-title>
                    <ion-card-title
                        class="produto-preco">R${{formatarPreco(produto.preco)}}</ion-card-title>
                    <img *ngIf="produto.loja == 'KABUM'" class="store-badge"
                        style="width: 24px; height: 24px"
                        src="assets/icon/kabum.png">
                    <img *ngIf="produto.loja == 'MERCADO_LIVRE'"
                        class="store-badge" style="width: 24px; height: 24px"
                        src="assets/icon/mercado_livre.png">
                </div>
                <!-- <ion-card color="dark" class="content produto-card" routerLink="/produto/{{produto.id}}">
                    <img class="produto-img" src="{{produto.link_imagem}}" alt="{{produto.nome}}">
                    <ion-card-title class="produto-nome">{{produto.nome}}</ion-card-title>
                    <ion-card-title class="produto-preco">R${{formatarPreco(produto.preco)}}</ion-card-title>
                    <img *ngIf="produto.loja == 'KABUM'" class="store-badge" style="width: 24px; height: 24px"
                        src="assets/icon/kabum.png">
                    <img *ngIf="produto.loja == 'MERCADO_LIVRE'" class="store-badge" style="width: 24px; height: 24px"
                        src="assets/icon/mercado_livre.png">
                </ion-card> -->
            </ion-col>
        </ion-row>
    </ion-list>

    <div *ngIf="maxPage > 1" class="searchbar-container">
        <ion-button class="toolbar" [disabled]="currentPage == 1"
            (click)="mudarPagina(currentPage - 1)">
            <ion-icon fill="icon-only" color="dark"
                name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="currentPage > 2" class="toolbar"
            (click)="mudarPagina(1)">1</ion-button>
        <ion-button *ngIf="currentPage > 3" class="reticencias" fill="clear">
            <ion-icon fill="icon-only" color="dark"
                name="ellipsis-horizontal"></ion-icon>
        </ion-button>
        <ion-button *ngIf="currentPage - 1 >= 1" class="toolbar"
            (click)="mudarPagina(currentPage-1)">{{currentPage-1}}</ion-button>
        <ion-button class="toolbar"
            [disabled]="true">{{currentPage}}</ion-button>
        <ion-button *ngIf=" maxPage >= currentPage + 1" class="toolbar"
            (click)="mudarPagina(currentPage+1)">{{currentPage+1}}</ion-button>
        <ion-button *ngIf="maxPage - 3 >= currentPage" class="reticencias"
            fill="clear">
            <ion-icon fill="icon-only" color="dark"
                name="ellipsis-horizontal"></ion-icon>
        </ion-button>
        <ion-button *ngIf="maxPage - 2 >= currentPage" class="toolbar"
            (click)="mudarPagina(maxPage)">{{maxPage}}</ion-button>
        <ion-button class="toolbar" (click)="mudarPagina(currentPage + 1)"
            [disabled]="currentPage == maxPage">
            <ion-icon fill="icon-only" color="dark"
                name="arrow-forward-outline"></ion-icon>
        </ion-button>
    </div>
</ion-content>