.linkzin {
    text-decoration: none;
    color: #ffffff;
}

.cadastro-background {
    --background: #121212;
}

.cadastro-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #0000ff;
    /* Borda azul */
    text-align: center;
}

.cadastro-icon {
    font-size: 4rem;
    color: #ffffff;
}

.cadastro-title {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.cadastro-item {
    --background: transparent;
    --color: #ffffff;
    margin-bottom: 20px;
}

.cadastro-button {
    --background: #0000ff;
    --color: #ffffff;
    border-radius: 5px;
}

.eyeIcon {
    color: #0000ff;
}

.error-message {
    color: red;
    font-size: 0.9em;
    text-align: left;
    margin-left: 10px;
}